$$
/* $FILENAME$ created by $USERNAME$ on $DATE$ */

#ifndef _$FILENAMESANSEXTENSION$_H
#define _$FILENAMESANSEXTENSION$_H

#include <AppKit/AppKit.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end

#endif
