$$
/* $FILENAME$ created by $USERNAME$ on $DATE$ */

#ifdef _PC_HEADER_$FILENAMESANSEXTENSION$_H_
#define _PC_HEADER_$FILENAMESANSEXTENSION$_H_

#include <Foundation/Foundation.h>
#include <AppKit/AppKit.h>
#include <Renaissance/Renaissance.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end

#endif /* _PC_HEADER_$FILENAMESANSEXTENSION$_H_ */