$$
/* $FILENAME$ created by $USERNAME$ on $DATE$ */

#ifndef $FILENAME$_H_
#define $FILENAME$_H_

#import <AppKit/AppKit.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end

#endif // $FILENAME$_H_
