/* 
 * $FILENAME$ created by $USERNAME$ on $DATE$
 *
 * Project $PROJECTNAME$
 *
 * Created with ProjectCenter - http://www.projectcenter.ch
 *
 * $Id$
 */

#ifndef $UCFILENAMESANSEXTENSION$_H_
#define $UCFILENAMESANSEXTENSION$_H_

#endif // $UCFILENAMESANSEXTENSION$_H_

