/* 
 * $FILENAME$ created by $USERNAME$ on $DATE$
 *
 * Project $PROJECTNAME$
 *
 * Created with ProjectCenter - http://www.projectcenter.ch
 *
 * $Id$
 */

#import <Foundation/Foundation.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end
