/* 
 * $FILENAME$ created by $USERNAME$ on $DATE$
 *
 * Project $PROJECTNAME$
 *
 * Project $PROJECTNAME$ is copyrighted by  $USERNAME$ and
 * released under...
 *
 * Created with ProjectCenter - http://www.gnustep.org
 *
 * $Id$
 */

#ifndef _$UCFILENAMESANSEXTENSION$_H_
#define _$UCFILENAMESANSEXTENSION$_H_

#include <Foundation/Foundation.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end

#endif // _$UCFILENAMESANSEXTENSION$_H_

