/* 
 * $FILENAME$ created by $USERNAME$ on $DATE$
 *
 * Project $PROJECTNAME$
 *
 * Created with ProjectCenter - http://www.gnustep.org
 *
 * $Id$
 */

#import "$FILENAMESANSEXTENSION$.h"

@implementation $FILENAMESANSEXTENSION$

- (id)initWithFrame:(NSRect)aFrame
{
    if((self = [super initWithFrame:aFrame]))
    {
    }
    return self;
}

- (void)drawRect:(NSRect)rect
{
    // Drawing...
}

@end
