/* 
 * $FILENAME$ created by $USERNAME$ on $DATE$
 *
 * Project $PROJECTNAME$
 *
 * Created with ProjectCenter - http://www.projectcenter.ch
 *
 * $Id$
 */

@protocol $FILENAMESANSEXTENSION$ <NSObject>

@end
